[submodule "MexMemoryInterfacing"]
	path = MexMemoryInterfacing
	url = https://github.com/maharjun/MexMemoryInterfacing.git
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/maharjun/CMakeModules
